@charset "ISO-8859-1";
h1 {
  text-align: left;
  font-size: 400%;
  color: #191970;
}
.button {
  background-color: #BDB76B; 
  border: none;
  color: #191970;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 3px;
  cursor: pointer;
}

.button4 {border-radius: 12px;}
.padding-table-columns td
{
    column-gap: 40px;
}